@page
@model Scarlat_Iuga_ProiectWEB.Pages.Produse.IndexModel

<h1>Produse</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adaugă produs</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Denumire</th>
            <th>Dimensiuni</th>
            <th>Comandă ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produs)
        {
            <tr>
                <td>@item.Denumire</td>
                <td>@item.Dimensiuni</td>
                <td>@item.ComandaID</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-page="Delete" asp-route-id="@item.ID">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>